a {
	top: 0;
	right: 1%;
	bottom: 2pc;
	left: 3pt;
}

b {
	top: 0;
	right: 1px;
	bottom: 2mm;
	left: 3in;
}

c {
	top: 0;
	right: 1ex;
	bottom: 2em;
	left: 3rem;
}

d {
	top: 1vh;
	right: 2vw;
	bottom: 3vmax;
	left: 4vmin;
}

e {
	top: calc(5em * 2);
	right: calc(5em * 2);
	bottom: calc(5em * 2);
	left: calc(5em * 2);
}
